body {
  display: flex;
  margin-top: 15%;
  justify-content: center;
  /* align-items: center; */
  background-color: azure;
}

#btn {
  width: 100px;
  padding: 7px;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
}

